$alert:#ff9e00;
$dark1:#29394f;
$dark2:#536d90;
// $dark3:#7b93b4;
$dark3:$dark2;
$line:#e6ebf3;
$error:#ff4b55;
$positive: #00c673;
$primary: #00b9f5;
$secondary:#002e6e;
$sectionBG:#f0f4fa;
$white:#fff;
$dark2: $dark2;