.error-wrapper{
   position: absolute;
   top:50%;
   left:50%;
   width:345px;
   -webkit-transform:translate(-50%,-50%);
   -ms-transform:translate(-50%,-50%);
   transform:translate(-50%,-50%);
   text-align:center;
   margin-top:30px;
   h3{
       font-size:2rem;
       margin-top:40px;
       line-height:24px;
       color:#182223;
       font-weight:800;
   }
   p{
    font-size:1.6rem;
    line-height:20px;
    color:#86a0c2;
    margin:8px 0 16px 0;
}
}