@import '../../style/common/variables';
.headDisplay {
    height: 92px;
    align-items: center;
    background-color: $headTripGradient1;
    background-image: url('/assets/bg.png'), linear-gradient(to bottom, $headTripGradient1, $headTripGradient2);
    & div:first-child {
        padding-left: 16px;
    }
    & div:last-child {
        padding-right: 16px;
        text-align: right;
    }
    .headDisplayBig {
        font-size: 2.4rem;
        font-weight: 800;
        line-height: 1.17;
        color: $white;
        margin-bottom: 4px;
    }
    .headDisplaySmall {
        font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: 800;
        color: $white;
        letter-spacing: .8px;
        line-height: 1.33;
    }
}

.transactionDetails {
    p {
        font-size: 1.2rem;
        font-weight: 800;
        letter-spacing: 0.8px;
        color: $dark2;
        text-transform: uppercase;
        background-color: $backgroundColor;
        padding: 12px 16px;
    }
    .transactionList {
        li {
            padding: 18px 16px 15px 16px;
            border-bottom: 1px solid $defaultbtnborder;
        }
        .transactionLeftBlock {
            width: 72%;
            .transactionImg {
                width: 40px;
                padding-right: 16px;
            }
            .transactionId {
                display: inline-block;
                width: 80%;
                padding-right: 8px;
                label {
                    font-size: 1.6rem;
                    line-height: 1.25;
                    display: block;
                    color: $dark1;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                span {
                    font-size: 1.4rem;
                    line-height: 1.43;
                    color: $dark2;
                    margin-top: 2px;
                    display: inline-block;
                }
            }
        }
        .transactionAmt {
            font-size: 1.6rem;
            font-weight: 800;
            color: $dark1;
        }
    }
}

.tranaction-mob {
    display: none;
}

// css for transaction details
.transaction-details-pop-up {
    h4 {
        padding: 12px $p16 9px;
        background: $sectionBG;
        color: $dark3;
        font-weight: bold;
        line-height: 1.33;
        letter-spacing: 0.8px;
        font-size: 1.2rem;
        text-transform: uppercase;
    }
    ul.td-list {
        padding: 20px $p16;
        li {
            padding: 5px 0;
            span,
            label {
                font-size: 1.4rem;
                line-height: 1.43;
            }
            label {
                color: $dark3;
                text-transform: capitalize;
            }
            span {
                color: $dark1;
                font-weight: 700;
            }
        }
    }
    ul.otherts-list {
        padding: $p16;
        border: 1px solid $line;
        border-radius: 2px;
        margin: 0 $p16 $p16;
        li {
            padding: 4px 0;
            &:last-child,
            &:first-child {
                font-weight: bold;
            }
            span,
            label {
                font-size: 1.4rem;
                line-height: 2.0rem;
                color: $dark3;
            }
            &:last-child {
                border-top: 1px solid $line;
                padding: 12px 0 0;
                margin-top: 8px;
            }
        }
    }
}


.sdk-area {
    div{
        img {
            margin: auto;
            height:36px;
        }
    } 

}

// Transaction status CSS
.transactionStatusWrap {
    padding: 0 $p16 $p16;
    .lab {
        color: $dark1;
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 1.25;
    }
    .labRefund {
        font-size: 3.6rem;
    }
    .tsStatus {
        svg {
            width: 38px;
            height: 38px;
        }
        .success {
            color: $positive;
        }
        .failed {
            color: $error;
        }
        .pending {
            color: $alert;
        }
    }
    .tsAmout {
        font-size: 3.6rem;
        font-weight: 800;
        margin-right: 4px;
    }
    .desc {
        font-size: 1.4rem;
        line-height: 1.43;
        color: $dark1;
    }
    .list {
        padding: $p16 0;
        font-size: 1.4rem;
        line-height: 1.43;
        color: $dark3;
    }
    .retry {
        color: $dark3;
        font-size: 1.4rem;
        border: 1px solid $line;
        svg {
            width: 24px;
            margin-right: 4px;
        }
    }
    .space {
        margin: 0 15px;
    }
}

.formRefund {
    margin-top: 24px;
    margin-bottom: 32px;
}

@media all and (max-width: 767px) {
    .tranaction-mob {
        display: block;
    }
}
