@import '../../style/common/themes/default';
@import '../../style/common/variables';
@import '../../style/mixin/mixins';
.header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 64px;
	background: #fff;
	z-index: 20;
	padding: 0 40px;
	border-bottom: 1px solid #e6ebf3;
}

.search-btn {
	position: absolute;
	right: 14px;
	top: 8px;
	border: 0;
	background:none;
	cursor: pointer;
	img {
		width: 16px;
		height: 16px;
	}
}

.white-btn {
	margin-left: 30px;
	margin-right: 12px;
	color: $primary;
}

.header-main-search {
	height: 32px;
	margin-left: 90px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	width: 252px;
	border: 1px solid #e6ebf3;
	padding: 0 40px 0 16px;
	&::placeholder {
		color: $dark2;
	}
}

.navlist-desk {
	margin: 0 14px;
	&:last-child {
		margin-right: 0;
	}
	/*&:after {
			content: '';
			position: absolute;
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background-color: $dark3;
			top: 6px;
			margin-left: 11px;
		}*/
	&>a {
		color: $dark3;
		text-transform: uppercase;
		font-size: 1.2rem;
		font-weight: normal;
	}
	&:last-child {
		&:after {
			display: none;
		}
	}
}

.userImageBlock-desk {
	margin-left: 24px;

	.user-full-name{
		color:$secondary;
		font-size:1.4rem;
	}
}

.userImage-desk {
	background-color: $secondary;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	overflow: hidden;
	margin-right:10px;
	span{
		color:$white;
		
	}
}

.logo-desk {
	svg {
		width: 65px;
		display: block;
	}
	span{
		color:$dark2;
		letter-spacing: 0.8px;
		font-size:1.2rem;
		font-weight:800;
		margin:4px 0 0 8px;

	}
}

.headerMenuDesk,
.headerNavDesk {
	font-size: inherit;
}

.headFilter-mob {
	display: none;
}

@media all and (min-width: 768px) and (max-width:1200px) {
	header {
		padding: 0 15px;
	}
}


.btnFilter {
	display: block;
	text-align: center;
	padding: 16px;
	width: 56px;
	height: 56px;
}

.searchBlock {
	border-left: 1px solid $borderBlue;
	text-align: center;
}

.headFilter-mob {
	height: 56px;
	&>div {
		padding: 0;
	}
}

.headFilterDisplay-mob {
	display: flex;
	flex: 1 0;
	max-width: 100%;
	min-width: 200px;
	&Details {
		align-self: center;
		width: calc(100% - 55px);
		p {
			font-weight: bold;
			font-size: 1.4rem;
			line-height: 1.43;
			margin-bottom: 5px;
			color: $dark1;
		}
	}
}

.filterDetail-mob {
	display: flex;
	li {
		color: $dark2;
		font-size: 1.2rem;
		line-height: 1.33;
		margin-right: 25px;
		&:after {
			content: '';
			position: absolute;
			width: 5px;
			height: 5px;
			background-color: $dark3;
			border-radius: 50%;
			margin-top: 4px;
			margin-left: 10px;
		}
		&:last-child {
			margin-right: 0;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			padding-right: 5px;
			width: 54%;
			&:after {
				display: none;
			}
		}
	}
}

.fixedWidth {
	max-width: 56px;
}

.rotateIcon {
	transform: rotate(90deg);
}

.headFilter-mob {
	display: flex;
}

@media all and (max-width: 320px) {
	.filterDetail-mob li {
		margin-right: 14px;
		&:after {
			margin-left: 5px;
		}
	}
}

/*--- mobile popup styling-- */

@include mobilePopups;




.navlistdroparrow{
	& >svg{
		position: absolute;
		transform: rotate(90deg);
		width: 16px;
		top: -4px;
	}
}




.headDropDown{
	display: none;
	position: absolute;
	width: 260px;
	background: $white;
	top: 25px;
	left: 0;
	padding: 12px 15px;
	border-radius: 2px;
	box-shadow: 0 3px 20px #ccc;
	li{
		padding: 5px 0;
		margin:16px 0;
		a{
			cursor:pointer;
			&:hover{
				label{
					color:#00b9f5;
				}
			}
		}
		label{
			padding: 12px 0;
			align-items: center;
			color:#182223;
			font-weight:800;
			font-size:1.4rem;
			cursor:pointer;
			transition: all ease 300ms;
			
		}
		p{
			font-size:1.2rem;
			color:$dark2;
			font-weight: normal;
			
		}
		img{
			
		}
	}
}
.head-drop-down-content{
margin-left:10px;
	 
		p{
			
			font-size:1.3rem;
			line-height:normal;
		}
	
}

.navlist-desk {
	margin: 0 15px;
	&:last-child {
		margin-right: 0;
	}
	&>a {
		color: #536e92;
		text-transform: uppercase;
		line-height: 1.33;
		padding: 10px 0;
		padding-top: 0;
	}
	&:hover{
		.headDropDown{
			visibility: visible;
			opacity: 1;
			display: block;
		}
	}
}
