$txtcolor:#182223;
$gridvalue:40px;
$neggridvalue:-40px;
$editor:#f8f9f9;
$line:#e6ebf3;
$heading:#29394f;
$primary: #00B9F5;
$secondary:#002E6E;
// Typography
$dark2:#536d90;
$dark3:#7b93b4;
$slateBlue: #5e779a;
$textColor2: #222;
// Sectioning
$line:#e6ebf3;
$sectionBG:#F6F8FC;
$white:#fff;
// Elements
$overlay: rgba(0, 0, 0, .1);
// Anchor Hover 
$anchorHover: #3c8dbc;
// Button Hover 
$btnHover:#27B7EA;
// Background
$backgroundColor:#f6f8fc;
$headTripGradient1:#002e91;
$headTripGradient2:#087fdb;
// Border
$defaultbtnborder: #ebeff5;
$borderBlue: #e6ebf3;
$borderGrey: #eaeaea;
// shadow 
$shadow:rgba(123, 147, 180, 0.2);
// common padding for mobile
$p16:16px;
$dark4:#536e92;
.markdown {
    font-size:1.4rem;
    
    h1 {
        font-size: 3.0rem;
        font-weight: 800;
        font-style: normal;
        color: $heading;
        margin-bottom: 10px;
    }
    h2 {
        font-size: 2.2rem;
        font-weight: 400;
        font-style: normal;
        color: $heading;
        margin: 30px 0 10px 0;;
        line-height: normal;
        
    }
    h3 {
        font-size: 2.0rem;
        font-weight:normal;
        font-style: normal;
        color: $heading;
        line-height: normal;
        margin-bottom: 10px;
    }
    h4 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: normal;
        color: $heading;
        margin-bottom: 10px;
        font-style: normal;
    }
    h5 {
        font-size: 1.4rem;
        font-weight: 800;
        line-height: 1.25;
        color: $heading;
        margin-bottom: 10px;
    }
    h6 {
        color: $heading;
        font-size: 1.4rem;
        margin: 10px 0px;
    }
    p {
        font-size: 1.4rem;
        color: $txtcolor;
        line-height: 1.43;
        margin-bottom: 15px;
        font-style: normal;
    }
    em {
        font-style: italic;
    }
    ol {
       
        
        color: $txtcolor;
        font-size: 1.4rem;
        line-height: 1.43;
        counter-reset: listitem;
        list-style: none;
        li{
            position: relative;
            margin: 16px 0;
            padding-left: 30px;
            &:before{
                    counter-increment: listitem;
                    content: counter(listitem);
                    background: #939da3;
                    color: $white;
                    font-size: 13px;
                    font-weight: 500;
                    line-height: 1;
                    text-align: center;
                    padding: 4px 0;
                    height: 11px;
                    width: 19px;
                    border-radius: 10px;
                    position: absolute;
                    left: 0;
                    top: 0px;
            }
        }
        ul {
            list-style-type: disc;
        }
    }
    ul {
        list-style: none;
        list-style-type: disc;
        padding-left: 20px;
        color: $txtcolor;
        font-size: 1.4rem;
        margin: 20px 0px;
    }
    li {
        margin-bottom: 15px;
        color: $txtcolor;
        p{
            line-height:1.46;
        }
    }
    img {
        outline: none;
        max-width: 100%;
    }
    button {
        font-weight: 600;
        padding: 6px 15px;
        min-height: 40px;
        border-radius: 2px;
        line-height: 1;
        cursor: pointer;
        font-size: 1.4rem;
        background-color: $primary;
        color: #fff;
        border: 1px solid $primary;
        display: block;
        margin: 0 5px 0 0;
        
    }
    
    
    
    button[role='tab'] {
        background: $white;
        color: $primary;
        margin: 0 0 4px 0;
        min-width: 68px;
        border: 1px solid #ebeff5;
        &[aria-selected='true'] {
            background: $primary;
            color: $white;
        }
    }
    div[role='tabpanel'] {
        /*background: #272b2d;*/
        min-width: calc(100% - 170px);
        word-wrap: break-word;
        margin-top: 20px;
        min-height: 300px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        pre {
            code {
                min-height: 150px;
            }
        }
    }
    div[role='tablist'] {
        padding-right: 1rem;
    }
    table {
        margin-bottom: 15px;
    }
    th {
        font-size: 1.4rem;
        line-height: 1.33;
        font-weight: 600;
        padding: 12px $gridvalue 12px 0px;
        border-bottom: 1px solid $line;
        text-align: left;
        color: $txtcolor;
        text-transform: uppercase;
        &:first-child {
            text-align: right;
        }
        
    }
    tr {
        &:last-child {
            td {
                border-bottom: none;
            }
        }
        td {
            
            &:first-child {
                text-align: right;
                color:$dark4;
                min-width:210px;
            }
            padding: 19px $gridvalue 21px 0;
            border-bottom: 1px solid $line;
            font-size: 1.4rem;
            color:#4c555a;
            line-height: 1.43;
            position: relative;
            text-align: left;
            strong {
                display: block;
                color: $txtcolor;
                font-weight:normal;
            }
        }
        code {
            background: #CEE4FE;
            color: #000;
        }
    }
    a {
        text-decoration: none;
        color: $primary;
        &+a {
            margin: 0 2px;
        }
    }
    blockquote {
        padding: $gridvalue;
        margin: $gridvalue $neggridvalue $gridvalue $neggridvalue;
        background: #f0f4fa;
        border-top: 1px solid $line;
        border-bottom: 1px solid $line;
        p {
            color: $txtcolor;
        }
        p:last-child {
            margin-bottom: 0;
        }
    }
    hr {
        height: 1px;
        margin: 10px 0 20px 0px;
        border-top: $line;
    }
    dl {
        display: flex;
        flex-wrap: wrap;
        margin: $gridvalue 0;
    }
    dt {
        width: 33%;
        font-weight: 600;
        padding: 5px;
    }
    dd {
        margin-left: auto;
        width: 66%;
        padding: 5px;
    }
    pre {
        margin: 20px 0;
        background: $editor;
        padding: 20px 20px;
        color: $txtcolor;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        max-width:1060px;
        width:100%;
        code {
            font-size: 1.4rem;
            display: block;
            overflow:auto;
            max-height:400px;
            &::selection {
                background-color: rgb(201, 216, 248);
            }
        }
    }
    p {
        code {
            padding: 0.2rem 0.5rem;
            border-radius: 4px;
            color: #b58900;
            margin: 0;
            font-size:1.6rem;
            background-color: #fafcfc;
            border: 1px solid #f0f4f7;
            border-radius: 4px;
        }
    }
    
    
    

}
