/*classes for api table*/
.api-wrapper {
    width:calc(100% - 440px);
    padding-right:40px;
}
h1 {
    font-size: 2.6rem;
    strong {
        background: #002e6e;
        color: #fff;
        font-size: 1.4rem;
        padding: 10px 30px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        margin-right: 10px;
        position: relative;
        top: -7px;
    }
}
.editor-wrapper {
    width:480px;
    background:#2e3436;
    margin-top: -40px;
    position: relative;
   margin-right:-40px;
    padding: 30px;

    p {
        color: #fff;
        span:first-child {
            width: 100px;
            color: #00b9f5;
            font-size: 1.4rem;
            text-align:right;
            margin-right:10px;
        }
        span:last-child {
            width: calc(100% - 115px);
            font-size: 1.4rem;
            color:#ccc;
            -ms-word-wrap: break-word;
            word-wrap: break-word;
        }
    }
    h2 {
        color: #ffffff;
        font-size: 1.6rem;
        margin: 45px 0 20px 0;
    }
    div[role='tablist'] {
        display: flex;
        flex-direction: row;
        border-bottom: none;
        padding-right: 0;
        position:fixed;
        top:64px;
        background:#242729;
        width:100%;
        max-width:480px;
        margin-left:-30px;
        padding-left:30px;
        padding:10px 0 5px 30px;
        button[role='tab'] {
            margin-right: 5px;
            font-weight: normal;
            font-size: 1.2rem;
            background: transparent;
            color:#fff;
            border: none;
            min-height: 32px;
            min-width:50px;
        }
        button[role='tab'][aria-selected='true'] {
            background: #00b9f5;
            color: #fff;
            border: none;
            -webkit-border-radius:4px;
            border-radius:4px;
            padding:5px 14px;
        }
        &::after {
            border: none;
        }
    }
    div[role='tabpanel']{
        pre{
            color:#BED6FF;
            background:#272b2d;
        }
    }
    h6 {
        border-top: 1px solid #4f585a;
        border-bottom: 1px solid #4f585a;
        padding: 7px 0;
        margin: 30px 0 20px 0;
        span {
            font-size: 1.4rem;
            color: #ffffff;
            font-weight: normal;
        }
    }
}
/*switch class*/
.switch {
    display: inline-block;
    height: 22px;
    position: relative;
    width: 38px;
    margin:0 12px;
}
.switch input {
    display: none;
}
.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}
.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 14px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 14px;
}
input:checked+.slider {
    background-color: #00b9f5;
}
input:checked+.slider:before {
    transform: translateX(16px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}