.status-heading{
    span{
        margin-right:5px;
        img{
            width:55px;
        }
    }
}
.space10{
    padding-top:10px
}
.space20{
    padding-top:20px
}
.space30{
    padding-top:30px
}