//  ==================================================css for popup
.popupWrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    bottom: 0;
    top: 0px;
    right: 0;
    left: 0px;
    background: rgba(25, 25, 25, 0.5);
    z-index: -100;
    // display: none;  
    opacity:0;
    visibility: hidden;
    
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    iframe {
        border: 0;
        max-width:100%;
        height:100%;
        position: absolute;
        left:0;
        top:0;
    }
    .popup {
        max-width: 850px;
        // max-height: 350px;
        width: 100%;
        background:#fff;
    }
    .popup.iframeOpen {
      max-width: 100%;  
      overflow:auto;
      padding-top:0px;
      width:100%;
      height:100%;
    }
}

.popup.fadeIn {
    .popupWrapper {
        visibility: visible;
        opacity: 1;

    }
}

.popup-wrapper {
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    // box-shadow: 1px 4px 17px 1px #9c9c9c;
    transition: unset;
    background: #fff;
    h2 {
        margin-bottom: 15px;
        font-size: 22px;
    }
    h4 {
        margin: 25px 0 15px;
        font-weight: 600;
    }

      
}

.closePopup {
    right: 10px;
    top: 5px;
    font-size: 18px;
    cursor: pointer;
    line-height: 20px;
    width: 26px;
    height: 26px;
    box-sizing: border-box;
    text-align: center;
    padding-top: 3px;
    position: absolute;
    z-index: 111;
    svg {
        width: 20px;
    }
}

.popup-content {
    height:100%;
    margin-top: 0px;
    padding-top:0px;
    width: 100%;
    // overflow: auto;
}

.fadeIn {
    opacity: 1;
    visibility: visible;
    z-index: 111111 !important;
}

.mob-icon {
    svg {
        width: 42px;
    }
}

.desk-icon {
    svg {
        width: 83px;
    }
}
.corporate-icon {
    svg {
        width: 90px;
        height: 90px;
    }
}
.emp-icon {
    svg {
        width: 90px;
        height: 90px;
    }
}
.other-icon {
    svg {
        width: 90px;
        height: 70px;
    }
}

.foodoutlet-icon {
    svg {
        width: 90px;
        height: 90px;
    }
}
.sign-up-section {
    padding-top: 5%;
    .option-wrapper {
        padding-top: 45px;
         &.option-wrapper-for-online{
         ul {
                li:first-child {
                    border-right: 1px solid #fff !important;
                }
            }
        }
    }
    h2 {
        font-size: 4.2rem;
        line-height: 6.0rem;
        text-align: center;
        margin: 0;
    }
    p {
        font-size: 1.8rem;
        line-height: 3.0rem;
    }
    ul {
        font-size: 0;
        margin-bottom: 0;
        display: table;
        width: 100%;
        li {
            background-color: #00CEF7;
            display: table-cell;
            vertical-align: middle;
            width: 33.333333%;
            vertical-align: top;
            // min-height: 275px;
            border-right: 1px solid #fff;
            border-left: 1px solid #fff;            
            cursor: pointer;
            transition: all 0.1s ease-out;
            position: relative;
            overflow: hidden;
             padding: 7% 4% 7%;
            a{
                display: block;               
                &:after{
                    content: '';
                    position: absolute;
                    z-index: 11;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }
            &:last-child {
                border-bottom: 0;
            }
            &:before {
                content: '';
                background-color: aliceblue;
                border-radius: 0%;
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                transform: scale(0.001, 0.001);
                z-index: 1;
            }
            &:active,
            &:focus {
                outline: 0;
                color: #fff;
            }
            .signup-option-text {
                font-size: 2.0rem;
                color: #fff;
                line-height: 3.0rem;
                padding-top: 20px;
            }
            &:first-child,
            &:last-child {
                border: 0;
            }
            &:hover {
                transform: scale(1.1);
                background-color: #00B4F5;
                z-index: 1;
                position: relative;
            }
            &:first-child:hover {
                border-right: 1px solid #fff;
            }
            &:last-child:hover {
                border-left: 1px solid #fff;
            }
        }
    }
}

@media only screen and (max-width: 960px) {
    .popupWrapper .popup {
        // padding: 4% 10px 4%;
        max-width: 90%;
    }
    .sign-up-section ul li {
        padding: 4% 10px 4%;
        &:hover{
            transform:initial;
        }
        &:last-child{
            &:hover{
                border:0;
            }
        }
         &:first-child{
            &:hover{
                border-right:0;
            }
        }
    }
}

@media only screen and (max-width:767px) {
    // .popupWrapper .popup {
    //     top: 0;
    // }
    .sign-up-section h2 {
        font-size: 2.4rem;
        line-height: 5rem;
    }
    .sign-up-section p {
        font-size: 1.6rem;
        line-height: 2rem;
    }
    .sign-up-section ul li .signup-option-text {
        font-size: 1.6rem;
        line-height: 2rem;
        padding-top: 10px;
    }
    .sign-up-section ul {
        li {
            &:first-child:hover,
            &:last-child:hover,
            &:hover {
                transform: initial;
                border-left: 0px;
                border-right: 0px;
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .popup-wrapper {
        max-height: 80%;
        overflow: auto;
    }
    .popupWrapper .popup {
        padding: 0;
        max-width: 95%;
    }
    .sign-up-section ul {
        display: block;
        li {
            display: block;
            width: 100%;
            border-right: 0;
            border-left: 0;
            border-bottom: 1px solid #fff !important;
        }
    }
}
.popup-iframe{
    max-width: 460px;
    width: 100%;
    height: 590px;
    border: 0;
    margin: auto;
    display: block;
}

@media only screen and (max-width: 350px){
    // .login-signup{
        .popupWrapper .popup{
            top: 0;
            left: 0;
            transform: unset;
            width: 100%;
            max-width: 100%;
            height: 100%;
        }
        .popup-wrapper{
            max-width: 100%;
            max-height: 100%;
        }
    // }
}
@media only screen and (max-width: 767px) and (orientation: landscape){
    // .login-signup{
        .popupWrapper .popup{
            height: 100%;
            top: 0;
            left: 0;
            transform: unset;
            right: 0;
            margin: auto;
            .popup-wrapper{
                height: 100%;
                position: absolute;
                width: 100%;
                bottom: 0;
                top: 0;
                margin: auto;
                .popup-content{
                    overflow: auto;
                }
            }
        }
    // }
}