@import 'variables';
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-style: normal;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(201, 224, 253, 0);
  font-size: 62.5%;
}

body {
  color: $textColor2;
  background: $white;
}

.app,
html,
body {
  height: 100%;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: $primary;
}

a:hover,
a:focus {
  color: $anchorHover;
  text-decoration: none;
  outline: 0
}

.btn {
  -webkit-appearance: none;
  border: 0;
  background: transparent;
}

img {
  max-width: 100%;
}