@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,800');

body {
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: normal; // font-family: 'Open Sans', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

h1 {
    font-size: 2.0rem;
    line-height: 4.0rem;
}

h2 {
    font-size: 1.8rem;
    line-height: 3.6rem;
}

h3 {
    font-size: 1.6rem;
    line-height: 3.2rem;
}

h4,
h5,
h6 {
    font-size: 1.4rem;
    line-height: 2.8rem;
}

p {
    font-size: 1.2rem;
    line-height: 1;
}