@import 'themes';
// Brand
$primary: #00B9F5;
$secondary:#002E6E;
// States
$positive: #00c673;
$alert:#ff9e00;
$error:#ff4b55;
// Typography
$dark1:#29394f;
$dark2:#536d90;
$dark3:#7b93b4;
$slateBlue: #5e779a;
$textColor2: #222;
// Sectioning
$line:#e6ebf3;
$sectionBG:#F6F8FC;
$white:#fff;
// Elements
$overlay: rgba(0, 0, 0, .1);
// Anchor Hover 
$anchorHover: #3c8dbc;
// Button Hover 
$btnHover:#27B7EA;
// Background
$backgroundColor:#f6f8fc;
$headTripGradient1:#002e91;
$headTripGradient2:#087fdb;
// Border
$defaultbtnborder: #ebeff5;
$borderBlue: #e6ebf3;
$borderGrey: #eaeaea;
// shadow 
$shadow:rgba(123, 147, 180, 0.2);
// common padding for mobile
$p16:16px;
$dark4:#536e92;
$headcolor:#182223;